@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}
//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}


//color
$bg-color-1 :#8e44ad;
$bg-color-2: #fff;


body {
  background-color: $bg-color-1;
  color: $bg-color-2;
  font-family: 'Roboto Mono', sans-serif;
  @include centerFlex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  @include centerFlex;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}